
@media screen and (max-width:400px) {
      
    .card{
        height: 300px;
        width: 300px;
        margin-bottom: 50px;
    }
    .card-img{
        height: 200px !important;
        width: 200px !important;
    }
}

.card{
    height: 300px ;
    width: 300px;
    margin-bottom: 50px;
}
.card-img{
    height: 250px !important;
    width: 250px !important;
}